@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

/* input, button {
    font: inherit;
} */

p {
    /* text-decoration: overline; */
    /* text-decoration: underline; */
    /* text-decoration: line-through; */
    /* text-decoration: none; */

    /* text-transform: uppercase; */
    /* text-transform: lowercase; */

    /* text-align: left; */
    /* text-align: right; */
    /* text-align: justify; */

    /* text-indent: 5em; */

    line-height: 1.5;

    /* letter-spacing: 0.1em; */
    /* word-spacing: 0.5em; */

    /* font-weight:lighter; */
    /* font-style: italic; */
    /* font-style: oblique; */
    /* complete lesson 6 */
    
    
}